language: python

python:
  - 3.6
  - 3.5

env:
  - DJANGO="Django>=2.1,<2.2"
  - DJANGO="Django>=2.0,<2.1"
  - DJANGO="Django>=1.11,<1.12"
  - DJANGO="Django>=1.10,<1.11"
  - DJANGO="Django>=1.9,<1.10"
  - DJANGO="Django>=1.8.6,<1.9"

install:
  - pip install -U coverage coveralls $DJANGO

script: coverage run -a --source=sitetree setup.py test


after_success:
  coveralls
