include README
include AUTHORS
include LICENSE
include CHANGELOG
include docs/Makefile
recursive-include docs .rst
recursive-include docs .py
recursive-include sitetree/locale *
recursive-include sitetree/migrations *
recursive-include sitetree/templates *
recursive-include sitetree/templatetags *
