{% load i18n sitetree %}
{% for item in sitetree_items %}
	<tr>
		<td class="align-center"><img src="{% sitetree_admin_img_url_prefix %}/icon-{{ item.hidden|yesno }}.gif" alt="{{ item.hidden }}" /></td>
		<td class="align-center"><img src="{% sitetree_admin_img_url_prefix %}/icon-{{ item.inmenu|yesno }}.gif" alt="{{ item.inmenu }}" /></td>
		<td class="align-center"><img src="{% sitetree_admin_img_url_prefix %}/icon-{{ item.inbreadcrumbs|yesno }}.gif" alt="{{ item.inbreadcrumbs }}" /></td>
		<td class="align-center"><img src="{% sitetree_admin_img_url_prefix %}/icon-{{ item.insitetree|yesno }}.gif" alt="{{ item.insitetree }}" /></td>
		<td class="align-center"><img src="{% sitetree_admin_img_url_prefix %}/icon-{{ item.access_restricted|yesno }}.gif" alt="{{ item.access_restricted }}" /></td>
        <td class="align-center"><img src="{% sitetree_admin_img_url_prefix %}/icon-{{ item.access_loggedin|yesno }}.gif" alt="{{ item.access_loggedin }}" /></td>
		<td>
		{% for d in item.depth_range %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}
		{% if item.parent %}|&#8212;{% endif %}
		<a href="item_{{ item.id }}/">{{ item.title }}</a></td>
		<td>{{ item.url }}</td>
		<td>
			&nbsp;&nbsp;
			<a href="item_{{ item.id }}/move_up/"><img src="{% sitetree_admin_img_url_prefix %}/arrow-up.gif" border="0" alt="{% trans "Move up" %}"/></a>
			&nbsp;&nbsp;&nbsp;
			<a href="item_{{ item.id }}/move_down/"><img src="{% sitetree_admin_img_url_prefix %}/arrow-down.gif" border="0" alt="{% trans "Move down" %}"/></a>
		</td>
	</tr>
	{% if item.has_children %}
		{% sitetree_children of item for sitetree template "admin/sitetree/tree/tree.html" %}
	{% endif %}
{% endfor %}
